{% extends "eventbook/includes/base.html" %}

    {% block content %}
        <div class="event">
        <h1>{{ object.title }}</h1>
        <h3>{{ object.pub_date }}</h3>
        {{ object.text }}
        {{ object.start_date }}
        {{ object.end_time }}
        {{ object.attendees }}
        {{ object.location }}

        <h4>Comments</h4>
        <div class="fb-comments" data-href="http://{{ post.site }}{{ post.get_absolute_url }}" data-width="470" data-num-posts="10"></div>


        </div>

{% endblock %}